<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div th:fragment="header">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <div class="navbar gap-2">

        <form th:action="@{/auth/logout}" method="get" sec:authorize="isAuthenticated()" class="m-0">
            <button type="submit" class="btn btn-primary">
                <span th:text="#{logout}">logout</span>
            </button>
        </form>

        <form th:action="@{/auth/login}" method="get" sec:authorize="isAnonymous()" class="m-0">
            <button type="submit" class="btn btn-primary">
                <span th:text="#{login.button}"></span>
            </button>
        </form>
        <form th:action="@{/books}" method="get" class="m-0">
            <button type="submit" class="btn btn-primary">
                <span th:text="#{button.books}"></span>
            </button>
        </form>

        <form th:action="@{/accounts}" method="get" sec:authorize="isAuthenticated()" class="m-0">
            <button type="submit" class="btn btn-primary">
                <span th:text="#{button.profile}"></span>
            </button>
        </form>

        <form th:action="@{/orders/my}" method="get" sec:authorize="isAuthenticated()" class="m-0">
            <button type="submit" class="btn btn-primary">
                <span th:text="#{label.orders}"></span>
            </button>
        </form>

        <form th:action="@{/carts}" method="get" sec:authorize="hasAnyRole('CLIENT')" class="m-0">
            <button type="submit" class="btn btn-primary">
                <span th:text="#{label.cart.title}"></span>
            </button>
        </form>

        <div th:insert="~{fragment::admin_panel}" class="m-0"></div>
        <div th:insert="~{fragment::locale}" class="ms-auto"></div>
    </div>
</div>

<div th:fragment="locale">
    <form action="" class="m-0">
        <select name="lang" onchange="this.form.submit()" class="form-select form-select-sm" style="width: auto;">
            <option></option>
            <option value="en">EN</option>
            <option value="ua">UA</option>
        </select>
    </form>
</div>

<div th:fragment="delete_book">
    <form th:action="@{/books/info/delete/{n}(n=${book.name})}" method="post"
          sec:authorize="hasAnyRole('EMPLOYEE', 'ADMIN')" class="m-0">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">
            <span th:text="#{button.delete}"></span>
        </button>
    </form>
</div>

<div th:fragment="client_button">
    <form th:action="@{/clients/account/edit/{n}(n=${client.email})}" method="get">
        <button type="submit" class="btn btn-danger">
            <span th:text="#{button.edit}"></span>
        </button>
    </form>

    <form th:action="@{/clients/account/delete/{n}(n=${client.email})}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">
            <span th:text="#{button.delete_acc}"></span>
        </button>
    </form>
</div>

<div th:fragment="employee_button">
    <form th:action="@{/employees/account/edit/{n}(n=${employee.email})}" method="get">
        <button type="submit" class="btn btn-danger">
            <span th:text="#{button.edit}"></span>
        </button>
    </form>

    <form th:action="@{/employees/account/delete/{n}(n=${employee.email})}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">
            <span th:text="#{button.delete}"></span>
        </button>
    </form>
</div>

<div th:fragment="admin_panel"
     sec:authorize="hasAnyRole('ADMIN')">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button"
                id="adminMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <span th:text="#{label.admin.panel}"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="adminMenuButton">
            <li>
                <a class="dropdown-item" th:href="@{/books/add}" th:text="#{button.book.add}"></a>
            </li>
            <li>
                <a class="dropdown-item" th:href="@{/auth/employee/registration}" th:text="#{button.employee.register}"></a>
            </li>
            <li><hr class="dropdown-divider"></li> <li>
            <a class="dropdown-item" th:href="@{/clients}" th:text="#{label.clients}"></a>
        </li>
            <li>
                <a class="dropdown-item" th:href="@{/employees}" th:text="#{label.employee}"></a>
            </li>
            <li>
                <a class="dropdown-item" th:href="@{/orders/all}" th:text="#{label.orders.all}"></a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>